@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--clr-neon-0: #16f1b0;
    --clr-neon-1: rgb(195, 37, 209);
    --clr-bg-0: #39393f;
}

body {
	background-color: var(--clr-bg-0);
}
body {
	margin: 0 auto;
	font-family: Roboto, serif;
	color: var(--clr-neon-0);
	line-height: 1;
}

.topnav {
	overflow: hidden;
}

.topnav a .link {
	float: left;
	color: var(--clr-neon-0);
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover .link,
.topnav a:active .link {
	background-color: var(--clr-neon-0);
	color: var(--clr-bg-0);
}

.topnav a.active .link {
	background-color: var(--clr-neon-0);
	color: var(--clr-bg-0);
}

.title {
	text-align: center;
	font-size: 25px !important;
	margin-block: 20px;
}

.desc {
	font-weight: lighter;
}

.footer {
	padding-bottom: 20px;
	transition: 0.3s ease-in-out;
}

.footer > div {
	width: fit-content;
	margin: auto;
}

.footer > div > div > u {
	display: flex;
}

#main > div > a,
.footer > div > div > u > li > a {
	transition: all 0.3s ease-in-out;
}

// e

nav {
	background-color: var(--clr-bg-0);

	* {
		transition: 0.2s ease-in-out;
	}

	.all {
		display: grid;
		grid-template:
			'ascella . . btns other . account .' 82px
			/ 1fr auto 1fr auto auto 1fr auto 1fr;
		padding-inline: clamp(0.2rem, 4vw, 3rem);
		height: 82px;
		align-items: center;
	}

	.ascella {
		grid-area: ascella;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.75rem;
		letter-spacing: -0.025em;
		transition-duration: 200ms;
		border-bottom: solid 2px transparent;
	}

	.btns {
		grid-area: btns;
	}

	.btns > ul {
		display: flex;
		color: var(--clr-neon-0);
	}

	.btn {
		display: block;
		border-radius: 0.25rem;
		border: 0.25em solid;
		border-color: var(--clr-neon-0);
		font-weight: 700;
		padding: 0.5rem 1rem;
		transition-duration: 500ms;
		color: var(--clr-neon-0);
		margin-inline: 0.5rem;
		box-shadow: 
			inset 0 0 .75em var(--clr-neon-0),
			0 0 .75em var(--clr-neon-0);
	}

	.other {
		grid-area: other;
		width: 82px;
		height: 32px;
		margin-inline: 0.5rem;

		svg {
			transition: 0.2s ease-in-out;
		}

		label {
			display: inline-flex;
			padding: 0.4rem 0.7rem;
			background-color: var(--clr-bg-0);
			border: 1px solid white;
			transition: 0.2s ease-in-out;
		}

		#input {
			position: absolute;
			width: 81px;
			height: 35px;
			z-index: 10;
			opacity: 0;
		}

		#input:checked ~ .list {
			height: 0% !important;
			scale: 0.8;
			opacity: 0;
			z-index: -2;
		}

		#input:checked + label svg {
			transform: rotate(90deg) !important;
		}

		#input:hover ~ label,
		#input:active ~ label {
			background-color: var(--clr-neon-0);
			color: var(--clr-bg-0)
		}

		.list {
			transition: 0.6s ease-in-out;
			position: relative;
			z-index: 10;
			margin-top: 15px;
			scale: 1;
			opacity: 1;

			ul {
				position: absolute;
				right: -85%;
				background-color: var(--clr-bg-0);
				width: max-content;
				padding-block: 0.25rem;
				overflow: hidden;
				border: 1px solid rgb(107 114 128);
				border-radius: 0.375rem;
				box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
			}

			li {
				overflow: visible;
				position: relative;

				div {
					transition: 0.2s ease-in-out;
					> a {
						color: var(--clr-neon-0);
						padding: 0.5rem 1rem;
						line-height: 1.25rem;
						display: inline-block;
					}
				}

				div:hover,
				div:active {
					transform: translateX(210px);
				}

				slide {
					position: absolute;
					overflow: unset;
					transform: translateX(-100%);
					padding: 0.5rem 1rem;
					line-height: 1.25rem;
					top: 0;
					left: 0;
					right: 0;
				}

				slide:before {
					content: ' ';
					background-color: var(--clr-bg-0);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: -1;
					transition: 0.3s ease-in-out;
					transform: scaleX(0);
					transform-origin: bottom left;
				}

				slide:hover::before,
				slide:active::before {
					transform: scaleX(1);
					transform-origin: bottom right;
				}
			}
		}
	}

	.btn:hover,
	.btn:active {
		border-color: var(--clr-neon-0);
		background-color: var(--clr-bg-0);
		color: var(--clr-neon-0) !important;
	}

	.ascella ~ .btn {
		grid-area: account;
		color: var(--clr-neon-0);
		width: fit-content;
		height: fit-content;
		font-size: 1.125rem;
		line-height: 1.75rem;
		z-index: 50;
	}
}

@media (max-width: 850px) {
	.all {
		grid-template:
			'ascella account account'
			'btns btns other' !important ;
		height: 164px !important;
	}

	:is(.other, .ascella ~ .btn) {
		justify-self: end;
	}

	.list ul {
		right: 0 !important;
	}
}

@media (max-width: 500px) {
	.all {
		grid-template:
			'ascella account' 60px
			'btns btns' 60px
			'other other' 60px !important ;
		height: 185px !important;
	}

	.btns {
		margin: auto;
	}

	.other {
		width: unset !important;
		justify-self: unset !important;

		label {
			display: flex !important;

			svg {
				margin-left: auto;
			}
		}

		ul {
			position: unset !important;
			margin: auto;
		}
	}
}
